.user-page-info {
    background-color: #ffffff24;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin: 30px auto 20px auto;
    border-radius: 10px;
    padding: 30px 40px;
}

.user-page-info svg {
    width: 175px;
    height: 175px;
    margin-bottom: 30px;
}

.user-page-info h1 {
    font-size: 2.2rem;
    margin: 0 auto 5px auto;
}

.user-page-info h2 {
    font-weight: 300;
    font-size: 1.4rem;
    margin: 0 auto 10px auto;
}

.user-page-info h3 {
    font-weight: 300;
    font-size: 1.2rem;
    margin: 0 auto 10px auto;
}

.button-account {
    margin: 10px;
    text-align: center;
	border-radius: 42px;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-size: 1.2rem;
    font-weight: 600;
	padding: 11px 15px;
    transition: all 0.1s ease;
    width: 200px;
}

.delete {
	background-color: #bd4e4e;
}

.edit {
    background-color: #4780c2;
}

.delete:hover {
	background-color:#a74545;
}

.edit:hover {
	background-color:#3474bd;
}

.button-account:active {
	font-size: 1.17rem;
}

.delete-popup {
    position: absolute;
    max-width: 800px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin: auto;
    border-radius: 10px;
    padding: 30px 40px;
    background-color: #494949;
    z-index: 10001;
    width: 500px;
    transition: all ease-in .4s;
    box-shadow:
        0px 0px 0.8px rgba(0, 0, 0, 0.03),
        0px 0px 1.8px rgba(0, 0, 0, 0.041),
        0px 0px 3.2px rgba(0, 0, 0, 0.048),
        0px 0px 5px rgba(0, 0, 0, 0.054),
        0px 0px 7.7px rgba(0, 0, 0, 0.06),
        0px 0px 12.1px rgba(0, 0, 0, 0.066),
        0px 0px 20px rgba(0, 0, 0, 0.076),
        0px 0px 40px rgba(0, 0, 0, 0.1);
}

.delete-popup-buttons div {
    margin: 10px;
    text-align: center;
	border-radius: 42px;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-size: 1.2rem;
    font-weight: 600;
	padding: 11px 15px;
    transition: all 0.1s ease;
    width: 150px;
}

.delete-popup-buttons div:active {
	font-size: 1.17rem;
}

.delete-popup-buttons .cancel {
    background-color: #bd4e4e;
}

.delete-popup-buttons .cancel:hover {
	background-color:#a74545;
}

.delete-popup-buttons .delete {
    background-color: #4ca753;
}

.delete-popup-buttons .delete:hover {
	background-color:#2a8a32;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000db;
    z-index: 10000;
}